.card {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap; 
    position: relative;
}

.card > * {
    flex: 1 1 100%;
}

.preview {
    max-height: 178px;
}

.previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    position: absolute;
    top: 17px;
    right: 15px;
}
.menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
    background: transparent;
    border: 0;
}

.menuButton:active, .menuButton:hover {
    background-color: rgba(51,51,51,0.1);
}

.controls {
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.karmaCounter > * + * {
    padding: 0 0 0 4px;
}

.karmaValue {
    color: var(--greyC4);
}

svg.down {
    transform: rotate(180deg);
}

.commentsButton {
    display:flex;
    align-items: normal;
}

.commentsButton * {
    color: var(--greyC4)
}

.commentsNumber {
    padding: 0 0 0 6px;
    font-size: 12px;
    line-height: 14px;
}

.shareButton {
    width: 20px;
    height: 20px;
}

.saveButton {
    width: 20px;
    height: 20px;
}
@media all and (min-width: 1024px) {
    .card {
        padding: 40px 0;
        flex-flow: row nowrap;
    }

    .preview {
        order: -1;
        padding-left: 40px;
        flex-grow: 1;
        flex-basis: content;
    }
    
    .previewImg {
        max-height: 200px;
        max-width: 300px;
        object-fit: cover;
    }

    .menu {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50px; 
        flex-grow: 1;
        padding: 0 20px;
    }

    .menuButton {
        transform: rotate(180deg);
    }
       
    .controls {
        flex-flow: column nowrap;
        justify-content: center;
        flex-basis: 50px; 
        align-items: center;
        flex-grow: 0;
        
    }

    .karmaCounter > * + * {
        padding: 0;
    }

    .commentsButton * {
        display: none;
        visibility: hidden;
    }
    
    .commentsNumber {
        display: none;
        visibility: hidden;
    }
    
    .shareButton {
        display: none;
        visibility: hidden;
    }
    
    .saveButton {
        display: none;
        visibility: hidden;
    }
}

@media all and (min-width: 1540px) {
    .card {
        padding: 0 60px;
    }
    .card:hover, .card:focus-within {
        outline: 1px solid var(--greyD9);
    }

    .menuButton:hover {
        background-color: rgba(51,51,51,0.1);
    }

    .karmaCounter > button.up:hover > svg > path {
        fill: var(--green);
    }

    .karmaCounter > button.down:hover > svg > path {
        fill: var(--orange);
    }

    .controls {
        position:relative;
    }

    .card:hover h2 a, .card:focus-within h2 a {
        color: var(--orange);
    }
}

